<section id="our-values" class="our-values">
    <div class="container">

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card" style='background-image: url("assets/img/our-values-1.jpg");'>
            <div class="card-body">
              <h5 class="card-title"><a href="">Notre Mission</a></h5>
              <p class="card-text">Simplifier et améliorer l'accès aux services juridiques grâce à une paralégalisation informatisée.</p>
              <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="card" style='background-image: url("assets/img/our-values-2.jpg");'>
            <div class="card-body">
              <h5 class="card-title"><a href="">Notre Plan</a></h5>
              <p class="card-text">Développer et commercialiser des solutions de paralégal informatisé abordables et personnalisées pour les clients individuels et professionnels.</p>
              <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
            </div>
          </div>

        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4">
          <div class="card" style='background-image: url("assets/img/our-values-3.jpg");'>
            <div class="card-body">
              <h5 class="card-title"><a href="">Notre  Vision</a></h5>
              <p class="card-text">Transformer le secteur juridique grâce à l'automatisation et la technologie pour fournir des solutions juridiques abordables et efficaces.</p>
              <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4">
          <div class="card" style='background-image: url("assets/img/our-values-4.jpg");'>
            <div class="card-body">
              <h5 class="card-title"><a href="">Our Care</a></h5>
              <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam laudantium voluptatem.</p>
              <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Our Values Section -->
